.clients {
	display: inline-flex;
}

.clients__item {
	width: 170px;
	height: 92px;
	margin-right: 30px;
}

.clients__item{
 &:last-child {
	margin-right: 0;}
}


.clients__link {
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;

	border: 1px solid #AFB1B8;
	border-radius: 4px;
	fill: #AFB1B8;
	color: $accent-color;
	transition-property: fill, border-color;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link{
 &:hover,
 &:focus {
	fill: currentColor;
	border-color: $accent-color;}
}