.footer {
	display: flex;
	align-items: center;
	padding-top: 60px;
	padding-bottom: 60px;

	font-size: 14px;
	line-height: var(--main-line-height);
	background-color: var(--background-color);
}

.footer-nav {
	display: flex;
	align-items: baseline;
}

.footer__contacts {
	display: inline-block;
	margin-bottom: 9px;

	color: var(--description-color);
	line-height: 1.71;
	font-weight: var(--main-font-weight);
	font-style: normal;
}



.address {
	margin-bottom: 9px;

	font-style: normal;
	color: var(--primary-white-color);
	line-height: var(--main-line-height);
	transition-property: color;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address{
 &:hover,
 &:focus {
	color: var(--accent-color);}

}

.join {
	margin-bottom: 10px;

	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;

	color: var(--primary-white-color);
}

.footer-socials {
	display: inline-block;
	margin-left: 70px;
}

.footer__socials-list {
	display: inline-flex;
	width: 204px;
	margin-top: 16px;
	justify-content: space-between;

}

.footer__socials-link {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, 10%);
	border-radius: 50%;

	fill: var(--primary-white-color);
	transition-property: background-color;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__socials-link{
 &:hover,
 &:focus {
	background-color: var(--accent-color);}

}

.footer-subscribe {
	margin-left: 93px;
}


.footer__subscribe-input {
	margin-top: 10px;
	padding-left: 16px;
	width: 360px;
	height: 50px;

	background-color: var(--background-color);
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;

	color: var(--primary-white-color);
}

.icon-send {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-bottom: 10px;
	margin-left: 10px;

	fill: var(--primary-white-color);
}