.hero {
	text-align: center;
	margin: 0 auto;
	max-width: 1600px;
	padding-top: 200px;
	padding-bottom: 200px;

	background: #C4C4C4;
	background-image: linear-gradient(to right,
			rgba(47, 48, 58, 0.4),
			rgba(47, 48, 58, 0.4)),
		url(../images/hero-bcg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.hero__title {

	margin: auto;
	margin-bottom: 30px;

	width: 696px;
	height: 120px;
	left: 452px;
	top: 280px;

	color: $primary-white-color;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
}