.logo {
	padding-top: 24px;
	padding-bottom: 25px;

	font-family: "Raleway", sans-serif;
	color: $accent-color;
	font-size: 26px;
	line-height: $main-line-height;

}

.logo-studio {
	font-family: "Raleway", sans-serif;
	color: #000000;
	font-size: 26px;
	line-height: $main-line-height;
}

.footer__logo {
	display: inline-block;
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 20px;
}

.footer__logo-studio {
	color: $primary-white-color;
}