.html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: "Roboto", sans-serif;
	background-color:$primary-white-color;
	color:$primary-text-color;

	font-size: 14px;
	letter-spacing: 0.03em;
}


a {
	text-decoration: none;
}

h1,
h2,
h3,
p {
	margin: 0;
}

p {
	font-size: 16px;
	color: $description-color;
	line-height: 1.8;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

.container {

	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

.sections {
	padding-top: 94px;
	padding-bottom: 94px;
}

